:root {
  --color-insify-blue: #0040E3;
  --color-font: #020403;
}

.App {
  color: var(--color-font);
  max-width: 720px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

/* Form stying */
.form-element {
  display: flex;
  flex-direction: column;
}

span {
  color: var(--color-insify-blue);
}